@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css"; 


@tailwind base;
@tailwind components;
@tailwind utilities;




html {
    scroll-behavior: smooth;
  }
  

body {
    background-color: #000300;
}

.card:hover {
transform: scale(1.05);
transition: transform 0.3s ease-in-out;
}